.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}

.react-switch-handle {
  transform: translateX(68px);
  -webkit-transform: translateX(68px);
  -moz-transform: translateX(68px);
  -ms-transform: translateX(68px);
  -o-transform: translateX(68px);
}
