@font-face {
  font-family: myFirstFont;
  src: url('../src/fonts/Sofia Pro Regular Az.otf');
}

body {
  margin: 0;
  font-family: 'Sofia Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebf8fd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
